* {
	padding: 0;
	margin: 0;
	
	font-family: sans-serif;
}

body {
	background-color: black;
	color: white;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	margin-top: 5px;
	margin-bottom: 5px;
}

h1, h2 {
	text-align: center;
}

div.image-rows {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

div.image-page {
	position: relative;
	width: 100%;
	height: 100%;
}

img.image-display, video.image-display {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

ul.listing {
	margin-top: 50px;
	margin-left: 150px;
	font-size: 20px;
	font-weight: bold;
}

.listing a {
	font-style: normal;	
	text-decoration: none;
}

.hover-pane {
	padding: 10px;
	color: white;
}
	
.hover-pane > * {
	visibility:hidden;
	opacity: 0.7;
}

.hover-pane:hover > * {
	visibility:visible;
}

.vcenter {
	display: table;
	width: 100%;
	height: 100%;
}

.vcenter-content {
	display: table-cell;
	vertical-align: middle;
}

.goto-previous,
.goto-next {
	position: absolute;
	top: 0;
	bottom: 0;
	font-size: 40px;
}

.goto-previous {
	left: 0;
	width: 40px;
}

.goto-next {
	text-align: right;
	right: 0;
	width: 40px;
}
