#html {
	background-color: black;
	color: white;
}

#main {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	color: white;
}

#main a {
	color: white;
}

h1.va-header {
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2.va-header {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

h1.va-header, h2.va-header {
	text-align: center;
}

h3.va-header {
	font-size: 20px;
	font-weight: bold;
	
	margin-top: 20px;
	margin-bottom: 10px;
}

div.va-image-rows {
	margin-left: auto;
	margin-right: auto;
}

div.va-image-page {
	position: relative;
	width: 100%;
	height: 100%;
}

img.va-image-display, 
video.va-image-display {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.va-listing {
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 20px;
	font-weight: bold;
}

a {
	color: inherit;	
}

.va-listing > .va-entry {
	float: left;
	margin: 5px;
	display: block;
	position: relative;
	width: 300px;
	height: 400px;
}

.va-listing > .va-entry > .va-preview {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 300px;
	overflow: hidden;
}

.va-preview > .va-no-image {
	position: absolute;
    max-height: 100%;
    max-width: 100%;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.va-no-image > i {
	font-size: 200px;
}

.va-listing > .va-entry > .va-title {
	position: absolute;
	top: 300px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	text-align: center;
}

.va-listing a {
	font-style: normal;	
	text-decoration: none;
}

.va-toolbar {
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60;
	font-size: 40px;
}

.va-toolbar > * {
	visibility:hidden;
	opacity: 0.7;
}

.va-toolbar:hover > * {
	visibility:visible;
}

.va-toolbar .va-toolbar-button {
	color: white;
	margin-right: 5px;
	width: 60px;
}

.va-toolbar > .va-tb-right {
	float: right;
}

.va-hover-pane {
	padding: 10px;
	color: white;
}
	
.va-hover-pane > * {
	visibility:hidden;
	opacity: 0.7;
}

.va-hover-pane:hover > * {
	visibility:visible;
}

.va-vcenter {
	display: table;
	width: 100%;
	height: 100%;
}

.va-vcenter-content {
	display: table-cell;
	vertical-align: middle;
}

.va-goto-previous,
.va-goto-next {
	position: absolute;
	top: 200px;
	bottom: 200px;
	font-size: 40px;
}

.va-goto-previous {
	left: 0;
	width: 40px;
}

.va-goto-next {
	text-align: right;
	right: 0;
	width: 40px;
}

#image-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.va-toolbar-inline {
	margin-left: 10px; 
}

.va-toolbar-embedded {
	visibility: hidden;
	position: absolute;
	font-size: 20px;
}

.va-toolbar-top {
	top: 5px;
	right: 5px;
}

.va-toolbar-center {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);   
}

.va-toolbar-bottom {
	bottom: 5px;
	right: 5px;
}

.va-icon-link {
	display: block;
}

.va-icon {
	display: table-cell;
	position: relative;
}

.va-icon .va-video-overlay {
	position: absolute;
	display: block;
	font-size: 60px;
	opacity: 60%;

    max-height: 100%;
    max-width: 100%;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.va-icon-link:hover .va-toolbar-embedded {
	visibility: visible;
}

.va-icon-link .va-toolbar-embedded .va-toolbar-button {
	display: none;
}

.va-toolbar-button {
	display: inline-block;
	width: 30px;
	text-align: center;
}

.va-toolbar-button:hover {
	background-color: gray;
}

.va-icon-link:hover .va-toolbar-embedded .va-toolbar-button,
.va-icon-link .va-toolbar-embedded .va-toolbar-button.va-active {
	display: inline-block;
}

.va-toolbar-embedded .va-toolbar-button {
	color: white;
	float: right;
	opacity: 0.7;
}

.va-toolbar-embedded .va-toolbar-button:hover {
	background-color: white;
	color: black;
}

.va-icon-link .va-toolbar-embedded .va-toolbar-button.va-active {
	visibility: visible;
}

.va-icon-link:hover .va-toolbar-embedded .va-toolbar-button.va-active, 
.va-icon-link .va-toolbar-embedded .va-toolbar-button.va-active {
	color: fuchsia;
}

.va-check-button {
	visibility: hidden;
	position: absolute;
	top: 5px;
	left: 8px;
	font-size: 25px;
	text-align: center;
	width: 25px;
	padding: 2px;
	border-radius: 2px;
}

.va-selected .va-check-button {
	visibility: visible;
	color: white;
}

.va-comment {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.va-comment p {
	margin-top: 5px;
}