* {
	padding: 0;
	margin: 0;
	
	font-family: sans-serif;
}

#main {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

body {
	background-color: black;
	color: white;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	margin-top: 5px;
	margin-bottom: 5px;
}

h1, h2 {
	text-align: center;
}

div.image-rows {
	margin-left: auto;
	margin-right: auto;
}

div.image-page {
	position: relative;
	width: 100%;
	height: 100%;
}

img.image-display, 
video.image-display {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.listing {
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 20px;
	font-weight: bold;
}

a {
	color: inherit;	
}

.listing > .entry {
	float: left;
	margin: 5px;
	display: block;
	position: relative;
	width: 300px;
	height: 400px;
}

.listing > .entry > .preview {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 300px;
	overflow: hidden;
}

.preview > .no-image {
	position: absolute;
    max-height: 100%;
    max-width: 100%;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.no-image > i {
	font-size: 200px;
}

.listing > .entry > .title {
	position: absolute;
	top: 300px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	text-align: center;
}

.listing a {
	font-style: normal;	
	text-decoration: none;
}

.toolbar {
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60;
	font-size: 40px;
}

.toolbar > * {
	visibility:hidden;
	opacity: 0.7;
}

.toolbar:hover > * {
	visibility:visible;
}

.toolbar a {
	padding-right: 20px;
	background-color: black;
	color: white;
}

.hover-pane {
	padding: 10px;
	color: white;
}
	
.hover-pane > * {
	visibility:hidden;
	opacity: 0.7;
}

.hover-pane:hover > * {
	visibility:visible;
}

.vcenter {
	display: table;
	width: 100%;
	height: 100%;
}

.vcenter-content {
	display: table-cell;
	vertical-align: middle;
}

.goto-previous,
.goto-next {
	position: absolute;
	top: 200px;
	bottom: 200px;
	font-size: 40px;
}

.goto-previous {
	left: 0;
	width: 40px;
}

.goto-next {
	text-align: right;
	right: 0;
	width: 40px;
}

#image-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.toolbar-embedded {
	visibility: hidden;
	position: absolute;
	font-size: 20px;
}

.toolbar-top {
	top: 5px;
	right: 5px;
}

.toolbar-bottom {
	bottom: 5px;
	right: 5px;
}

.icon-link {
	display: block;
}

.icon {
	display: table-cell;
	position: relative;
}

.icon .video-overlay {
	position: absolute;
	display: block;
	font-size: 60px;
	opacity: 60%;

    max-height: 100%;
    max-width: 100%;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.icon-link:hover > .toolbar-embedded {
	visibility: visible;
}

.toolbar-button {
	float: right;
	text-align: center;
	margin-right: 5px;
	width: 20px;
	padding: 2px;
	opacity: 0.7;
}

.check-button {
	visibility: hidden;
	position: absolute;
	top: 5px;
	left: 8px;
	font-size: 25px;
	text-align: center;
	width: 25px;
	padding: 2px;
	border-radius: 2px;
}

.icon-link:hover > .check-button {
	visibility: visible;
	background-color: black;
}

.check-button.checked {
	visibility: visible;
	color: white;
}

.check-button > .display-checked {
	display: none;
}

.check-button.checked > .display-checked {
	display: inline-block;
}

.check-button.checked > .display-unchecked {
	display: none;
}

.toolbar-button:hover {
	background-color: white;
	color: black;
}
